[submodule "flanterm"]
    path = kernel/src/utils/flanterm
    url = https://codeberg.org/mintsuki/flanterm.git
    update = merge
[submodule "libc"]
    path = libc
    url = https://github.com/ImaNimrod/mlibc.git
    update = merge
[submodule "subprojects/uacpi"]
	path = kernel/subprojects/uacpi
	url = https://github.com/uACPI/uACPI.git
[submodule "kernel/src/utils/printf"]
	path = kernel/src/utils/printf
	url = https://github.com/mpaland/printf.git
[submodule "limine"]
	path = limine
	url = https://github.com/Limine-Bootloader/Limine.git
	branch = v11.x-binary
