[submodule "kernel/src/dev/char/tty/flanterm"]
	path = kernel/src/dev/char/tty/flanterm
	url = https://github.com/mintsuki/flanterm.git
[submodule "kernel/src/utils/printf"]
	path = kernel/src/utils/printf
	url = https://github.com/mpaland/printf.git
