readonly BINUTILS_BASE="binutils"
readonly BINUTILS_VERSION="2.45"
readonly BINUTILS_NAME="$BINUTILS_BASE-$BINUTILS_VERSION"
readonly BINUTILS_PKG="$BINUTILS_NAME.tar.xz"
readonly BINUTILS_MD5SUM="dee5b4267e0305a99a3c9d6131f45759"
readonly BINUTILS_BASE_URL="https://sourceware.org/pub/binutils/releases"

readonly GCC_BASE="gcc"
readonly GCC_VERSION="15.2.0"
readonly GCC_NAME="$GCC_BASE-$GCC_VERSION"
readonly GCC_PKG="$GCC_NAME.tar.xz"
readonly GCC_MD5SUM="b861b092bf1af683c46a8aa2e689a6fd"
readonly GCC_BASE_URL="https://sourceware.org/pub/gcc/releases/$GCC_NAME"

readonly QEMU_BASE="qemu"
readonly QEMU_VERSION="9.2.4"
readonly QEMU_NAME="$QEMU_BASE-$QEMU_VERSION"
readonly QEMU_PKG="$QEMU_NAME.tar.xz"
readonly QEMU_MD5SUM="5aad959595068e9501ad1c6122332f5b"
readonly QEMU_BASE_URL="https://download.qemu.org"

readonly PREFIX="${DIR}/build"
readonly SYSROOT="${DIR}/../sysroot"
readonly TARGET="x86_64-piggy"
