readonly AUTOCONF_NAME="autoconf-2.69"
readonly AUTOCONF_PKG="$AUTOCONF_NAME.tar.xz"
readonly AUTOCONF_BASE_URL="https://ftp.gnu.org/gnu/autoconf"
readonly AUTOCONF_SHA256SUM="64ebcec9f8ac5b2487125a86a7760d2591ac9e1d3dbd59489633f9de62a57684"

readonly AUTOMAKE_NAME="automake-1.17"
readonly AUTOMAKE_PKG="$AUTOMAKE_NAME.tar.xz"
readonly AUTOMAKE_BASE_URL="https://ftp.gnu.org/gnu/automake"
readonly AUTOMAKE_SHA256SUM="8920c1fc411e13b90bf704ef9db6f29d540e76d232cb3b2c9f4dc4cc599bd990"

readonly BINUTILS_NAME="binutils-2.46.1"
readonly BINUTILS_PKG="$BINUTILS_NAME.tar.xz"
readonly BINUTILS_BASE_URL="https://sourceware.org/pub/binutils/releases"
readonly BINUTILS_SHA256SUM="e127a709cba24c76de8936cb7083dd768f28cd37eb010492e2f19b71eb1294e4"

readonly GCC_NAME="gcc-14.4.0"
readonly GCC_PKG="$GCC_NAME.tar.xz"
readonly GCC_BASE_URL="https://ftp.gnu.org/gnu/gcc/$GCC_NAME"
readonly GCC_SHA256SUM="752b6f567beac83159c77a7680b1316bdd784738bff9a9d070112c09da90f6d9"

readonly LIBTOOL_NAME="libtool-2.6.2"
readonly LIBTOOL_PKG="$LIBTOOL_NAME.tar.xz"
readonly LIBTOOL_BASE_URL="https://ftp.gnu.org/gnu/libtool"
readonly LIBTOOL_SHA256SUM="2ef1067c16c97db930fd740cc9bc3d3ba9a583804ae5ac42cc3e8719e49e191e"

readonly PKGCONF_NAME="pkgconf-2.5.1"
readonly PKGCONF_PKG="$PKGCONF_NAME.tar.xz"
readonly PKGCONF_BASE_URL="https://distfiles.ariadne.space/pkgconf"
readonly PKGCONF_SHA256SUM="cd05c9589b9f86ecf044c10a2269822bc9eb001eced2582cfffd658b0a50c243"

readonly PREFIX="$(realpath ${DIR}/local)"
readonly SYSROOT="$(realpath ${DIR}/../sysroot)"
readonly TARGET="x86_64-piggy"
