readonly AUTOCONF_BASE="autoconf"
readonly AUTOCONF_VERSION="2.69"
readonly AUTOCONF_NAME="$AUTOCONF_BASE-$AUTOCONF_VERSION"
readonly AUTOCONF_PKG="$AUTOCONF_NAME.tar.xz"
readonly AUTOCONF_MD5SUM="50f97f4159805e374639a73e2636f22e"
readonly AUTOCONF_BASE_URL="https://ftp.gnu.org/gnu/autoconf"

readonly BINUTILS_BASE="binutils"
readonly BINUTILS_VERSION="2.45"
readonly BINUTILS_NAME="$BINUTILS_BASE-$BINUTILS_VERSION"
readonly BINUTILS_PKG="$BINUTILS_NAME.tar.xz"
readonly BINUTILS_MD5SUM="dee5b4267e0305a99a3c9d6131f45759"
readonly BINUTILS_BASE_URL="https://sourceware.org/pub/binutils/releases"

readonly GCC_BASE="gcc"
readonly GCC_VERSION="15.2.0"
readonly GCC_NAME="$GCC_BASE-$GCC_VERSION"
readonly GCC_PKG="$GCC_NAME.tar.xz"
readonly GCC_MD5SUM="b861b092bf1af683c46a8aa2e689a6fd"
readonly GCC_BASE_URL="https://sourceware.org/pub/gcc/releases/$GCC_NAME"

readonly QEMU_BASE="qemu"
readonly QEMU_VERSION="10.1.2"
readonly QEMU_NAME="$QEMU_BASE-$QEMU_VERSION"
readonly QEMU_PKG="$QEMU_NAME.tar.xz"
readonly QEMU_MD5SUM="356c0f477270594d530c08e7f8c77e0b"
readonly QEMU_BASE_URL="https://download.qemu.org"

readonly PREFIX="${DIR}/local"
readonly SYSROOT="${DIR}/../sysroot"
readonly TARGET="x86_64-piggy"
